.prettytabs > ul > li {
  background: #ddd none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  float: left;
  list-style: outside none none;
  padding: 5px 12px;
  z-index: 0;
}
.prettytabs > div {
  border: 1px solid #ccc;
  clear: left;
  content: "";
  display: block;
  padding: 0.5em;
  z-index: 1;
  background: white;
}
.prettytabs > ul > li.actab {
  background: white none repeat scroll 0 0;
  border-bottom: none;
  color: black;  
  z-index: 2;
  padding-bottom: 6px;
}
.prettytabs > ul {
  bottom: -1px;
  margin: 0px;
  left:0px;
  position: relative;
  padding: 0px; 
}